@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceUp {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes bounceDown {
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
img {
    border-radius: 8px;
    
    animation: 0.5s ease-out 0s 1 slideDown; 
    
    width: 70%;
    height: auto;
}

img:hover{
    animation: 0.5s bounceDown ease-in infinite alternate,
    0.5s bounceUp ease-out infinite alternate;
}